@charset "UTF-8";
:root {
    --azulClaro: #4545e7;
    --azul1: #0000ff;
    --azul2: #4545e7;
    --verdeCapim: #1af51a;
    --verde1: #008000;
    --verde2: #38d138;
    --cinza: #c1c1c1;
}

body {
    overflow: hidden; 
}

/* ELEMENTOS LEAFLET */
#mapID {
    z-index: 0;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0px;
    left: 0px;
}

.leaflet-control-geocoder.leaflet-bar.leaflet-control {
    position: absolute;
    top: 10px;
    left: -1750px;
    transition: all 0.2s;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control {
    position: absolute;
    bottom: -890px;
    right: -1802px;
    transition: all 0.2s;
}

a.leaflet-control-zoom-in {
    background-color: var(--verdeCapim) !important;
}

a.leaflet-control-zoom-out {
    background-color: var(--azulClaro) !important;
}

.leaflet-control-layers.leaflet-control {
    position: absolute;
    bottom: -800px;
    right: 60px;
    transition: all 0.2s;
}

/* OFFCANVAS E BOTÕES */
#elementosBody {
    z-index: 1;
}

#elementosBody img {
    width: 50px;
    height: 50px;
    margin: 20px;
}

.offCanvasEsquerda {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 600px;
    height: 100vh;
    transition: all 0.2s;
}

.offCanvasDireita {
    position: absolute;
    top: 0px;
    left: 1278px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 600px;
    height: 100vh;
    transition: all 0.2s;
}

.ocultarEsquerda {
    left: -510px !important;
    transition: all 0.2s;
}

.ocultarDireita {
    left: 1790px !important;
    transition: all 0.2s;
}

#painelEsquerda {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(100deg, var(--azul1), var(--azul2));
}

#painelDireita {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(200deg, var(--verde1), var(--verde2));
}

.cabecalhoPainel {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--cinza);
}

.cabecalhoPainel p {
    font-size: 25pt;
}

.btnFechar {
    cursor: pointer;
    width: 40px;
    height: 40px;
    transition: all 0.2s;
}

.btnFechar:hover {
    opacity: 0.5;
}

#containerEsquerda {
    display: flex;
    flex-direction: column;
}

#containerDireita {
    display: flex;
    flex-direction: column;
}

.btn {
    cursor: pointer;
}