@charset "UTF-8";
:root {
    --azulClaro: #4545e7;
    --verdeCapim: #1af51a;
}

body {
    overflow: hidden; 
}

#mapID {
    z-index: 0;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
}

.leaflet-control-geocoder.leaflet-bar.leaflet-control {
    z-index: 1;
    position: relative;
    top: -50px;
    left: -1000px;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control {
    z-index: 1;
    position: relative;
    bottom: -550px;
    right: -10px;
}

a.leaflet-control-zoom-in {
    background-color: var(--verdeCapim);
}

a.leaflet-control-zoom-out {
    background-color: var(--azulClaro);
}

.leaflet-control-layers.leaflet-control {
    z-index: 1;
    position: relative;
    bottom: -500px;
    right: 10px;
}