<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sua conta</title>
    <link rel="shortcut icon" href="/assets/imauv.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/components/pages/account/account.css">
</head>
<body>
    <!-- Barra lateral de links -->
    <div id="grade">
        <div class="g1 container">
            <a class="return" href="index.html" target="_self">
                <span class="tooltip">Retornar ao sistema</span>
                <img src="/img/menu/return-icon.png" alt="retornar ao aplicativo">
            </a>
            <a class="return" href="login.html" target="_self">
                <span class="tooltip">Trocar de conta</span>
                <img src="/img/menu/avatar-icon.png" alt="logout">
            </a>
            <img src="/img/home/logo.png" alt="logomarca">
        </div>
    <!-- Dados do usuário -->
        <div class="g2 container2">
            <h1>Detalhes</h1>
            <br><br>
            <h2>Nome: </h2><p id="nome"></p>
            <h2>Email: </h2><p id="email"></p>
            <h2>CPF: </h2><p id="cpf"></p>
            <h2>Cidade: </h2><p id="cidade"></p>
        </div>
    </div>
    <script src="/components/pages/account/account.js" type="module"></script>
</body>
</html>
